main {
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  min-height: 100vh;
display: flex;
}
.portada {
  max-height: 100vh;
  display: flex;
  gap: 10px;
  flex-direction: column-reverse;  
}

a {
  text-decoration: none;
  color: #faeef8;
  font-weight: bold;
  letter-spacing: 1.5px;  
  text-shadow: 0.5px 1px 0px #c95577;
  transition: 0.2s;
}
a:hover {
  color: #5a0320;
  text-shadow: 0.5px 1px 0px #faeef8;
}

footer {
  text-align: center;
}
@media only screen and (min-width: 1080px) { 
.portada {
  flex-direction: row;}
}


.introduction {

  padding: 0 20px 10px;
  display: grid; 
  align-content: center;
}

@media only screen and (min-width: 1080px) {  

  .introduction {

    padding: 40px 0 0 20px;
  }

}
.cover {
  flex: none;

}

.cover img {
  max-width: 100%;
  float: left;
}



@media only screen and (min-width: 1080px) { 
.cover img {
  max-height: 100vh;
  float: left;
  max-width: auto;
}
}
.navi {
position: absolute;
z-index: 3;
}

.App {
  text-align: center;
}
.App p {
    max-width:  calc(576px + 2vmin)
}
.App-logo {
  pointer-events: none;
}


.App {
  /* 
  background-color: #AF0606; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0 20px;
}



@keyframes App-logo-spin {
  0% {
    transform: scale(0.96) ;
  }
  50% {
    transform: scale(1) ;
  }
  100% {
    transform: scale(0.96);
  }
}


.links-container {

    width: 80%;
    margin: 0 auto;
    display: flex;
    gap: 10px;
    align-items: center;
    place-content: center;
}

.links-container a img {

  max-width: 9vw;
}

.titulo {

  position: absolute;
  display: grid;
  width: 5vw;
  color: #000;
  animation-delay: 2s;
  animation-iteration-count: 4;
  opacity: 0;
}

.subtitulo {
  display: grid;
  width: 5vw;
  right: 92px;
  color: #000;
  transform: rotate(20deg);
}


.container {

    padding: 50px;
      display: flex;
      justify-content: space-around;
}

@keyframes logo-ani {
  0% {
    transform: rotate(0) translate(0, 0px);
    opacity: 0;
  }

  15% {
    transform: rotate(344deg) translate(0, 0);
    opacity: 100%;
  }
  55% {
    transform: rotate(344deg) translate(0, 0);
  }
  65% {
    transform: rotate(-10deg) translate(-150px, 0);
    opacity: 100%;
  }
  
  85% {
    transform: rotate(-10deg) translate(-150px, 0);
    opacity: 100%;
  }

  90% {
    transform: rotate(134deg) translate(-150px, 0);
    opacity: 0;
  }

  100% {
    transform: rotate(134deg) translate(-150px, 0);
    opacity: 0;
  }
  
}

.titulo img {

  width: 52vmin;
  height: auto;
 }
 .links-container a img:hover {
  animation: logo-ani infinite 1.5s linear;

 }
@media (max-width: 992px) {
  .links-container a img {

    max-width: 25vw;
  }
  
  .titulo { 
top: 190px;
  }

}

.gozandroLogo {

    display: flex;
  flex-direction: column;
}
.gozandroLogo img{
  max-width: 50%;
}

@media only screen and (min-width: 1080px) {  

  .gozandroLogo {
    flex-direction: row;
}
}

/* transition animations on blocks */


#presentation.fadeIn {
  animation: 0.4s presentationFadeIn forwards;
}

#presentation.fadeOut {
  animation: 0.4s presentationFadeOut forwards;
}

@keyframes presentationFadeIn {
  from {
      opacity: 0;
      transform: translate(-20px, -20px);
      transform: scale(0);
      transform-origin: top right;
  }
  to {
      opacity: 1;
      transform: translate(0px, 0px);
      transform: scale(1);
  }
}

@keyframes presentationFadeOut {
  from {
      opacity: 1;
      transform: translate(0, 0);
      transform: scale(1);
      transform-origin: bottom right;
  }
  to {
      opacity: 0;
      transform: translate(-20px, -20px);
      transform: scale(0);
  }
}


#almendra {
  position: absolute;

}

.contenido {

  position: relative;
  padding: 20px;
  background: rgba(255,255, 255, 0.1);
  border-radius: 7px;
  text-align: justify;
  margin: auto;
  margin-top: -15px;
  overflow-y: auto;
}

.introduction .contenido {
  max-height:173px;
  width: 60%;
}

@media only screen and (min-width: 1080px) { 
.introduction .contenido {
  max-height:266px;
  width: 60%;
} 
}
.conte {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}


::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}


.conte nav {
 display: grid;
    align-content: center;
    gap: 10px;
}

.conte nav a {
  font-size: 3vw;

}

@media only screen and (min-width: 1080px) {
  
  .contenido {
    padding: 20px;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0;
  }
  .conte nav a {

    font-size: 2vw;

  }
  


}


#almendra.fadeIn {
  animation: 0.4s almendraFadeIn forwards;
}

#almendra.fadeOut {
  animation: 0.4s almendraFadeOut forwards;
}

@keyframes almendraFadeIn {
  from {
      opacity: 0;
      transform: translate(-20px, -20px);
      transform: scale(0);
      transform-origin: top left;
  }
  to {
      opacity: 1;
      transform: translate(0px, 0px);
      transform: scale(1);
  }
}

@keyframes almendraFadeOut {
  from {
      opacity: 1;
      transform: translate(0, 0);
      transform: scale(1);
      transform-origin: bottom left;
  }
  to {
      opacity: 0;
      transform: translate(-20px, -20px);
      transform: scale(0);
  }
}
