.App {
  text-align: center;
}
.App p {
    max-width:  calc(576px + 2vmin)
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 1.5s linear;
  }
}

.App-header {
  background-color: #AF0606;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0 20px;
}

.App-link {
  color: #dfe184;
  font-weight: bold;
}
.App-link:hover {
  color: #a5e031;
  font-weight: bold;
}
@keyframes App-logo-spin {
  0% {
    transform: scale(0.96) ;
  }
  50% {
    transform: scale(1) ;
  }
  100% {
    transform: scale(0.96);
  }
}
